body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* region - Header */
.header_parent{
  width: 100%;
  height: 80px;
  background-color: rgb(34, 29, 43);
  position: relative;
  position: fixed;
}

.my_photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.my_photo img{
  width: 100%;
  height: 100%;
}

.my_name{
  color: rgb(255, 119, 0);
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
}

#links{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  transition: 0.5s all ease-in-out;
  z-index: 100;
  opacity: 1;
}

#links img{
  width: 45px;
  margin: 16px 10px;
  user-select: none;
}

#menu_btn{
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
  transition: 0.5s all ease;
  user-select: none;
}
/* endregion Header end */

/* region MyInfo */
.my_info{
  padding-top: 100px;
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name_and_all{
  margin-top: 40px;
}

.my_name_on_body{
  color: rgb(255, 204, 0);
  font-size: 40px;
  margin: 0;
}

.who_i_am{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.problem_solver{
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  padding: 6px 20px;
  color: black;
  border-radius: 10px; 
  margin-left: 5px;
}

.my_pic{
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.my_pic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* endregion */


/* region - Body */
.body_parent{
  background-color: rgb(65, 55, 83);
  width: 100%;
  max-height: auto;
  padding-top: 40px;
  box-sizing: border-box;
  padding-bottom: 40px;
}
/* endregion */


/* region - Coding Achievements */
.coding_data_h1, .work_exp_h1{
  text-align: center;
  color: orange;
  margin: 0;
  padding-bottom: 30px;
}

.coding_achievements{  
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
}

.coding_achievements_parent{
  background-color: rgba(130, 130, 130, 0.237);
  padding: 20px;
  border-radius: 20px;
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.coding_achievements_child{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.leetcode_detail{
  width: 250px;
  /* height: 240px; */
  max-width: 95%;
  background-color: rgb(34, 29, 43);
  padding: 10px 10px 15px 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.codeforces_detail{
  width: 280px;
  min-height: 120px;
  max-height: 10px;
  max-width: 95%;
  background-color: rgb(34, 29, 43);
  padding: 10px;
  border-radius: 20px;
  margin-top: 70px;
  box-sizing: border-box;
}

.bar{
  width: 90%;
  height: 4px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: orange;
  display: block;
  margin-bottom: 15px;
}

.leetcode_detail p, .codeforces_detail p{
  margin: 0 auto;
}

.lc_title, .cf_title{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  color: white;
  padding-bottom: 10px;
}

.lc_rating, .cf_rating{
  text-align: center;
  font-size: 17px;
  color: white;
  padding-bottom: 15px;
}

.slight_gap{
  height: 6px;
  display: block;
}

.lc_easy{
  font-size: 17px;
  color: rgb(0, 255, 0);
  background-color: rgba(130, 130, 130, 0.237);
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.lc_medium{
  font-size: 17px;
  color: orange;
  background-color: rgba(130, 130, 130, 0.237);
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.lc_hard{
  font-size: 17px;
  color: red;
  padding-bottom: 6px;
  background-color: rgba(130, 130, 130, 0.237);
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.lc_total{
  padding-top: 10px;
  font-size: 17px;
  color: white;
  background-color: rgba(130, 130, 130, 0.237);
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.cf_color{
  color: rgb(0, 225, 255);
}
/* endregion Coding achievements end */


/* region Work Experience */
.work_exp_parent{
  background-color: rgba(130, 130, 130, 0.237);
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.work_exp_child{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(34, 29, 43);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.company_info{
  width: 100%;
  display: flex;
}

.company_logo{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  margin-right: 20px;
}

.company_logo img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.company_details p{
  margin: 0;
  padding: 2px 0px;
  word-break: keep-all;
}

.designation{
  font-size: 1.3rem;
  color: rgb(216, 141, 0);
  font-weight: 500;
}

.company_name{
  font-size: 1.2rem;
  color: white;
}

.duration{
  color: rgb(169, 169, 169);
}

.tech_stack{
  color: white;
  font-size: 17px;
  margin: 0;
  padding-top: 20px;
}

.tech_stack_color{
  color: rgb(216, 141, 0);
  font-weight: 500;
}
/* endregion Work Experience */

/* region Project */
.project_parent{
  background-color: rgba(130, 130, 130, 0.237);
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.a_single_project_child{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(34, 29, 43);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.project_info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project_name{
  margin: 0;
  font-size: 1.3rem;
  color: rgb(216, 141, 0);
  font-weight: 500;
  padding-top: 10px;
}

.project_buttons{
  display: flex;
}

.project_buttons img{
  width: 50px;
}

.proj_tech_stack{
  font-size: 18px;
  color: white;
}

.project_description{
  font-size: 16px;
  color: white;
}
/* endregion Project */

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: rgb(34, 29, 43); /* Set the color of the scrollbar track */
}


@media (max-width: 600px){
    .my_name{
      display: none;
    }

    #menu_btn{
      display: block;
      position: absolute;
      right: 0;
      margin: 20px;
    }

    #links{
      flex-direction: column;
      margin-top: 90px;
      background-color: rgb(34, 29, 43);
      padding: 0 10px;
      border-radius: 20px;
      margin-right: 10px;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      border: 2px solid white;
    }

    #links img{
      width: 35px;
      margin: 7px 10px;
    }

    .coding_achievements_parent{
      max-width: 340px;
      margin: 0 auto;
      padding: 18px 10px;
    }

    .coding_achievements_child{
      flex-direction: column;    
      margin: 0 auto;        
    }

    .leetcode_detail, .codeforces_detail{
      width: 300px;
      margin: 0 auto;
    }

    .codeforces_detail{
      margin-top: 10px;
      max-height: 160px;      
    }

    .my_info{
      padding-top: 40px;
      flex-direction: column;
    }

    .name_and_all{
      margin-top: 40px;
    }

    .my_name_on_body{
      color: rgb(0, 255, 0);
      font-size: 40px;
      margin: 0;
    }

    .who_i_am{
      font-size: 20px;
      font-weight: 500;
      color: white;
    }

    .problem_solver{
      background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
      padding: 6px 20px;
      color: black;
      border-radius: 10px; 
      margin-left: 5px;
    }

    .my_pic{
      width: 70%;
      height: 70%;
      overflow: hidden;
      margin: 0 auto;
    }

    .company_info{
      flex-direction: column;
    }

    .company_logo{
      width: 70px;
      height: 70px;
      background-color: white;
      border-radius: 15px;
      margin-right: 20px;
      margin-top: 8px;
      margin-bottom: 10px;
    }

    .company_logo img{
      width: 70px;
      height: 70px;
    }

    .company_details p{
      padding: 3px 0px;
    }
}